@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body{
  width: 100vw;
  margin: 0;
  padding: 0 ;
  width: 100vw;
  height: 100vh;

height: 100vh;}
.desktop-3 {
  position: absolute;
  top: 0;
  /*left: calc(50% - 720px);*/
  background-color: #f5f8ff;
  
  opacity: 1;
}
.desktop-3.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.haley-mellin-pencil-drawing-20-icon,
.haley-mellin-pencil-drawing-20-icon1 {
  position: absolute;
  top: 109px;
  left: calc(50% + 80px);
  width: 354.17px;
  height: 500px;
  object-fit: cover;
}
.haley-mellin-pencil-drawing-20-icon1 {
  left: calc(50% - 528px);
}
.cross-removebg-preview-2-icon {
  position: absolute;
  top: 504px;
  left: 1144px;
  width: 136px;
  height: 149.98px;
  object-fit: cover;
}
.desktop-3-parent {
  position: absolute;
  top: 140px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 719px;
}
.span {
  color: var(--color-gray-600);
}
.purchasing-movie-tickets {
  color: var(--color-gray-500);
}
.exodus-purchasing-container {
  position: relative;
  display: inline-block;
  width: 649px;
}
.ui-design2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1em;
}
.ui-design-frame,
.ui-design-wrapper1 {
  position: absolute;
  top: 0;
  left: 217px;
  width: 107px;
  height: 23px;
}
.ui-design-wrapper1 {
  left: 39px;
  width: 115px;
}
.prototype2 {
  position: absolute;
  top: 0;
  left: calc(50% - 112.5px);
  letter-spacing: 0.1em;
}
.prototype-container {
  position: absolute;
  top: 0;
  left: calc(50% + 81px);
  width: 225px;
  height: 23px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blue-100);
  width: 15px;
  height: 15px;
}
.group-inner,
.group-item {
  left: 178px;
}
.group-inner {
  left: 348px;
}
.group-container {
  position: relative;
  width: 612px;
  height: 23px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.description1,
.exodus-is-a {
  position: absolute;
  top: 0;
  left: 0;
}
.exodus-is-a {
  top: 49px;
  font-size: var(--font-size-xl);
  line-height: 30px;
  color: var(--color-gray-400);
  display: inline-block;
  width: 649px;
}
.description-parent {
  position: relative;
  width: 649px;
  height: 169px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-600);
}
.read-case-study {
  position: relative;
  line-height: 30px;
}
.ios-icon-24-chevron-righ {
  position: relative;
  width: 24px;
  height: 24px;
}
.read-case-study-parent {
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray);
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.exodus-purchasing-movie-tick-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.group-child1,
.icon1,
.wrapper {
  position: absolute;
  width: 350px;
  height: 362px;
}
.icon1 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  object-fit: cover;
}
.group-child1,
.wrapper {
  top: 55px;
  left: 770px;
}
.group-child1 {
  top: 551.5px;
  left: 7.5px;
  border-top: 1px dashed var(--color-gray-400);
  box-sizing: border-box;
  width: 561px;
  height: 1px;
}
.group-div {
  position: relative;
  width: 1120px;
  height: 552px;
}
.winamp-good-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 649px;
}
.group-parent1 {
  position: absolute;
  top: 148px;
  left: 0;
  width: 324px;
  height: 23px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.description-group,
.view-screens-parent {
  position: absolute;
  top: 207px;
  left: 0;
  width: 649px;
  height: 139px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-600);
}
.view-screens-parent {
  top: 382px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray);
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.icon2 {
  position: absolute;
  top: 40px;
  left: 770px;
  border-radius: var(--br-11xl);
  width: 350px;
  height: 362px;
  object-fit: cover;
}
.group-child4 {
  position: absolute;
  top: 521.5px;
  left: 0.5px;
  border-top: 1px dashed var(--color-gray-400);
  box-sizing: border-box;
  width: 561px;
  height: 1px;
}
.winamp-good-music-good-lif-parent {
  position: relative;
  width: 1120px;
  height: 522px;
}
.group-child5 {
  position: absolute;
  top: 521.5px;
  left: -0.5px;
  border-top: 1px dashed var(--color-gray-400);
  box-sizing: border-box;
  width: 561px;
  height: 1px;
}
.group-parent3,
.ui-design-wrapper5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 154px;
  height: 23px;
}
.ui-design-wrapper5 {
  left: 39px;
  width: 107px;
}
.group-parent4,
.group-parent5,
.ui-design-wrapper6 {
  position: absolute;
  top: 0;
  left: 178px;
  width: 146px;
  height: 23px;
}
.group-parent5,
.ui-design-wrapper6 {
  left: 39px;
  width: 129px;
}
.group-parent5 {
  left: 348px;
  width: 168px;
}
.group-parent2,
.view-screens-group {
  position: absolute;
  top: 148px;
  left: 0;
  width: 516px;
  height: 23px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.view-screens-group {
  top: 382px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray);
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-1200);
}
.group-child9 {
  position: absolute;
  top: 521.5px;
  left: 8.5px;
  border-top: 1px dashed var(--color-gray-400);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.line-group {
  position: relative;
  width: 1129px;
  height: 522px;
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 770px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: rgba(13, 13, 13, 0.05);
  width: 120px;
  height: 50px;
}
.portfolio {
  position: absolute;
  top: 10px;
  left: 21px;
  line-height: 30px;
}
.rectangle-parent2 {
  position: absolute;
  top: 40px;
  left: 160px;
  width: 120px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.im-currently-working,
.upcoming-projects {
  position: absolute;
  top: 50px;
  left: calc(50% - 162px);
  font-size: var(--font-size-17xl);
  line-height: 30px;
  text-align: center;
}
.im-currently-working {
  top: 160px;
  left: calc(50% - 568px);
  font-size: var(--font-size-5xl);
  color: var(--color-gray-400);
  display: inline-block;
  width: 1140px;
}
.group-child15 {
  top: 129.5px;
  left: 159.5px;
  border-top: 1px dashed var(--color-gray-400);
  width: 1121px;
  height: 1px;
}
.group-child15,
.group-child16,
.group-child17 {
  position: absolute;
  box-sizing: border-box;
}
.group-child16 {
  top: 689.5px;
  left: 159.5px;
  border-top: 1px dashed var(--color-gray-400);
  width: 1121px;
  height: 1px;
}
.group-child17 {
  top: 249.5px;
  left: calc(50% - 0.5px);
  border-right: 1px dashed var(--color-gray-400);
  width: 1px;
  height: 391px;
}
.farmeasy {
  position: absolute;
  top: 267px;
  left: 800px;
  display: inline-block;
  width: 202px;
}
.description5,
.lundenva,
.lundenva-is-a {
  position: absolute;
  top: 271px;
  left: 160px;
  display: inline-block;
  width: 237px;
}
.description5,
.lundenva-is-a {
  top: 0;
  left: 0;
  width: 164px;
}
.lundenva-is-a {
  top: 49px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  color: var(--color-gray-400);
  width: 490px;
}
.coming-soon-wrapper,
.description-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 490px;
  height: 169px;
}
.coming-soon-wrapper {
  top: 205px;
  border-radius: var(--br-81xl);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-600);
}
.group-parent10,
.group-parent11 {
  position: absolute;
  top: 354px;
  left: 160px;
  width: 490px;
  height: 265px;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-300);
}
.group-parent11 {
  left: 800px;
}
.rectangle-parent1 {
  position: relative;
  width: 1440px;
  height: 770px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-600);
}
.group-parent {
  position: absolute;
  top: 1229px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  font-size: var(--font-size-29xl);
  color: var(--color-blue-200);
}
.desktop-2-child {
  position: absolute;
  top: 859px;
  left: calc(50% - 720px);
  background-color: var(--color-gray-100);
  width: 1440px;
  height: 120px;
}
.group-child18 {
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
}
.group-child18,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 50px;
}
.selected-projects {
  position: absolute;
  top: 10px;
  left: calc(50% + 53px);
  font-size: var(--font-size-17xl);
  line-height: 30px;
  color: var(--color-gray-600);
}
.group-parent12 {
  position: absolute;
  top: 894px;
  left: 160px;
  width: 712px;
  height: 50px;
  text-align: center;
}
.im-moses {
  color: #000ff0;
}
.hello-nice-to-container {
  position: relative;
}
.product {
  color: var(--color-blue-100);
}
.kwaran-nigeria-based-product-container {
  position: relative;
  font-size: 55px;
}
.currently-accepting-applicatio {
  color: var(--color-gray-200);
}
.my-goal-is-container {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 30px;
  text-align: center;
  display: inline-block;
  width: 990px;
  color: var(--color-gray-600);
}
.hello-nice-to-meet-you-im-m-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.hire-me-container,
.resume-container {
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-37xl) var(--padding-45xl);
  align-items: center;
  justify-content: center;
}
.hire-me-container {
  background-color: var(--color-darkslategray);
  border: 2px solid var(--color-blue-100);
}
.resume-container {
  border: 2px solid var(--color-darkslategray);
  color: var(--color-darkslategray);
}
.frame-parent38,
.frame-parent39 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent39 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-141xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-parent38 {
  position: absolute;
  top: 321px;
  left: 193px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-45xl);
  font-size: 65px;
  color: var(--color-gray-200);
}
.httpsdribbblecomm-adesign11 {
  position: absolute;
  top: 0;
  left: 169px;
  font-weight: 500;
  cursor: pointer;
}
.httpsdribbblecomm-adesign12,
.httpsdribbblecomm-adesign13 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.httpsdribbblecomm-adesign13 {
  left: 337px;
}
.httpsdribbblecomm-adesign-parent2 {
  position: absolute;
  top: 0;
  left: 855px;
  width: 425px;
  height: 26px;
}
.group-parent13,
.httpsdribbblecomm-adesign-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 26px;
}
.group-parent13 {
  top: 57px;
  left: 80px;
  width: 1280px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
}
.desktop-2-item {
  position: absolute;
  top: 139.5px;
  left: 79.5px;
  border-top: 1px dashed var(--color-gray-200);
  box-sizing: border-box;
  width: 1281px;
  height: 1px;
}
.haley-mellin-pencil-drawing-20-icon2 {
  position: absolute;
  top: 206px;
  left: 160px;
  width: 106px;
  height: 149.65px;
  object-fit: cover;
  display: none;
}
.desktop-2-child1,
.desktop-2-inner {
  position: absolute;
  top: 140px;
  left: 1360px;
  background-color: var(--color-blue-100);
  width: 80px;
  height: 80px;
}
.desktop-2-child1 {
  left: 0;
  background-color: var(--color-gray-200);
}
.group-icon {
  position: absolute;
  top: 140px;
  left: 1359px;
  width: 1px;
  height: 5256px;
}
.the-portfolio-work {
  position: absolute;
  top: 1019px;
  left: calc(50% - 570px);
  font-size: var(--font-size-5xl);
  line-height: 30px;
  color: rgba(13, 13, 13, 0.4);
  text-align: center;
  display: inline-block;
  width: 1140px;
}
.desktop-2-child2 {
  position: absolute;
  top: 1148.5px;
  left: 159.5px;
  border-top: 1px dashed var(--color-gray-400);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.group-child19 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4040bb;
  width: 1440px;
  height: 506px;
}
.group-child20,
.group-child21 {
  position: absolute;
  bottom: -0.5px;
  left: 78.5px;
  border-right: 1px dashed var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 501px;
}
.group-child21 {
  left: 1358.5px;
}
.madesigns2023-all-rights1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 254px);
}
.group-child22 {
  position: absolute;
  bottom: -0.5px;
  left: -0.5px;
  border-top: 1px dashed var(--color-white);
  box-sizing: border-box;
  width: 1121px;
  height: 1px;
}
.have-an-idea1,
.reach-out-to1 {
  position: absolute;
  bottom: 96px;
  left: 36px;
}
.reach-out-to1 {
  bottom: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  font-weight: 500;
}
.group-child23 {
  position: absolute;
  bottom: 71.5px;
  left: 19.5px;
  border-top: 1px dashed var(--color-white);
  box-sizing: border-box;
  width: 271px;
  height: 1px;
}
.group-child24,
.have-an-idea-group {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 311px;
  height: 140px;
}
.group-child24 {
  bottom: -0.5px;
  left: 430.5px;
  border-right: 1px dashed var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 201px;
}
.httpsdribbblecomm-adesign17 {
  position: absolute;
  bottom: 0;
  left: 169px;
  font-weight: 500;
  cursor: pointer;
}
.httpsdribbblecomm-adesign18,
.httpsdribbblecomm-adesign19 {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 500;
  cursor: pointer;
}
.httpsdribbblecomm-adesign19 {
  left: 337px;
}
.httpsdribbblecomm-adesign-parent4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 425px;
  height: 26px;
}
.group-parent15,
.httpsdribbblecomm-adesign-parent5 {
  position: absolute;
  bottom: 74px;
  left: 0;
  width: 420px;
  height: 26px;
}
.group-parent15 {
  bottom: 45px;
  left: 551px;
  width: 425px;
  height: 100px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-1200);
  font-family: var(--font-karla);
}
.group-parent14,
.line-container {
  position: absolute;
  bottom: 80px;
  left: 72px;
  width: 976px;
  height: 200px;
}
.line-container {
  bottom: 69px;
  left: 0;
  width: 1120px;
  height: 280px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-inter);
}
.madesigns2023-all-rights-rese-parent {
  position: absolute;
  bottom: 35px;
  left: calc(50% - 561px);
  width: 1120px;
  height: 349px;
}
.rectangle-parent4 {
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 1440px;
  height: 506px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.niche-exploration-passion,
.skills-wrapper {
  position: absolute;
  left: 160px;
  font-size: var(--font-size-16xl);
}
.skills-wrapper {
  top: 4517px;
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.niche-exploration-passion {
  top: 4633px;
  color: var(--color-gray-600);
}
.entertainment {
  position: relative;
  font-weight: 500;
}
.entertainment-wrapper {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 200px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.figma {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 59px;
  flex-shrink: 0;
}
.figma-wrapper,
.music-wrapper {
  position: absolute;
  top: 5px;
  left: 224px;
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 123px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.music-wrapper {
  left: 371px;
}
.user-research1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 131px;
  flex-shrink: 0;
}
.user-research-wrapper {
  position: absolute;
  top: 5px;
  left: 518px;
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 195px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.user-persona2 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 123px;
  flex-shrink: 0;
}
.user-persona-wrapper,
.web-design-wrapper {
  position: absolute;
  top: 5px;
  left: 737px;
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 187px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.web-design-wrapper {
  top: 0;
  left: 948px;
  width: 169px;
}
.frame-parent40 {
  position: absolute;
  top: 4710px;
  left: 160px;
  width: 1117px;
  height: 65px;
  color: var(--color-gray-500);
}
.desktop-app-wrapper,
.fintech-wrapper,
.mobile-app-wrapper,
.prototyping-wrapper,
.wire-frames-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 169px;
  height: 60px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.desktop-app-wrapper,
.fintech-wrapper,
.prototyping-wrapper,
.wire-frames-wrapper {
  left: 193px;
  width: 131px;
}
.desktop-app-wrapper,
.prototyping-wrapper,
.wire-frames-wrapper {
  left: 348px;
  width: 172px;
}
.desktop-app-wrapper,
.wire-frames-wrapper {
  left: 544px;
  width: 176px;
}
.desktop-app-wrapper {
  left: 744px;
  width: 180px;
}
.frame-parent41 {
  position: absolute;
  top: 4811px;
  left: 160px;
  width: 924px;
  height: 60px;
  color: var(--color-gray-500);
}
.desktop-2-child3 {
  position: absolute;
  top: 140px;
  left: 79px;
  width: 1px;
  height: 5256px;
}
.haley-mellin-pencil-drawing-20-icon3 {
  position: absolute;
  top: 206px;
  left: 1174px;
  width: 106px;
  height: 149.65px;
  object-fit: cover;
  display: none;
}
.epilogue-wrapper {
  border-radius: var(--br-81xl);
  background-color: var(--color-blue-300);
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.what-i-have {
  position: relative;
  color: var(--color-gray-600);
}
.building-my-portfolio {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.05em;
  line-height: 30px;
  font-weight: 500;
  color: rgba(13, 13, 13, 0.45);
  display: inline-block;
  width: 1097px;
}
.frame-parent42 {
  position: absolute;
  top: 4951px;
  left: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--font-size-16xl);
}
.desktop-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100vw;
  height: 5860px;
  /*overflow: hidden;*/
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-blue-100);
  font-family: var(--font-karla);
}
@media screen and (max-width: 420px) {
  .desktop-3 {
    width: 100%;
    height: 100%;
  }
}
